@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    }

    html{
        background-color: #fafafa ;
    }

    .service-list .service-list-item{
        @apply h-10 px-5 rounded-t-md flex items-center cursor-pointer hover:bg-brandHover;
    }

    .service-list .selected img{
        @apply grayscale-0;
    }

    .service-list img{
        @apply grayscale;
    }

    .flag-select button{
        @apply border-none h-14 ring-2 ring-gray-200 focus:ring-brand transition duration-500;
    }

    input#phone{
        appearance: textfield;
    }

    input#phone:focus + label{
        top: 12px;
        font-size: 12px;
        color: #777;
    }

    @media only screen and (max-width: 768px) {
        .mobileAppBanner{
            background-image: none !important;
        }
    }

    .location-select:hover .message{
        display: block;
    }

    .kitchens-slider{
        --swiper-navigation-size: 16px;
        --swiper-navigation-color: #4c3398;
    }

    .kitchens-slider .swiper-button-next,
    .kitchens-slider .swiper-button-prev{
        @apply max-xl:hidden
    }
}